extends base

block head
  title= post.title
  link(rel="canonical",href="http://mindthecode.com/#{post.url}")
  meta(name="twitter:title",content="#{post.title}")
  meta(name="twitter:description",content="#{post.description}")
  meta(property="og:title",content="#{post.title}")
  meta(property="og:description",content="#{post.description}")
  meta(property="og:url",content="http://mindthecode.com/#{post.url}")
  if post.keywords
    meta(name="keywords", content="#{post.keywords}")
  if post.description
    meta(name="description", content="#{post.description}")
block content
  mixin post(post)
  include _social
